{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h1>Current Polls</h1>

{% if polls_list %}
    <ul>
    {% for poll in polls_list %}
        <li><a href="{% url 'polls:detail' poll.id %}">{{ poll.poll_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<h1>Create New Poll</h1>
<form id='form' method='POST'> {% csrf_token %}
    {{form.as_p }}
    <input type='submit' class='btn btn-primary'/>
</form>